[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# IDE0018: Inline variable declaration
csharp_style_inlined_variable_declaration = false

# IDE0019: Use pattern matching
csharp_style_pattern_matching_over_as_with_null_check = false
