[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none

# IDE0046: Convert to conditional expression
dotnet_diagnostic.IDE0046.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = silent

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = silent

# CS8012: Referenced assembly 'cuoapi, Version=1.3.0.0, Culture=neutral, PublicKeyToken=null' targets a different processor.
dotnet_diagnostic.CS8012.severity = none
