/packages/
/Crypt/Debug/
/Crypt/Release/
/Debug/
/FastColoredTextBox/bin/
/FastColoredTextBox/obj/
/Loader/Debug/
/Loader/Release/
/Razor/obj/
/Release/
/UltimaSDK/bin/
/UltimaSDK/obj/
/.vs/
/bin/Win32/Debug/*.dll
/bin/Win32/Debug/*.xml
/bin/Win32/Debug/*.pdb
/bin/Win32/Debug/*.ilk
/bin/Win32/Debug/*.lib
/bin/Win32/Debug/*.exp
/bin/Win32/Debug/*.exe
/bin/Win32/Debug/Accord.dll.config
/bin/Win32/Debug/CrashReporter.NET.dll.config
/bin/Win32/Debug/Razor.exe.config
/bin/Win32/Release/*.dll
/bin/Win32/Release/*.xml
/bin/Win32/Release/*.pdb
/bin/Win32/Release/*.ilk
/bin/Win32/Release/*.lib
/bin/Win32/Release/*.exp
/bin/Win32/Release/*.exe
/bin/Win32/Release/Accord.dll.config
/bin/Win32/Release/CrashReporter.NET.dll.config
/bin/Win32/Release/Razor.exe.config
*~
/bin/Win32/Debug
*.htm
bin/
Crypt/x64/Release/Crypt.log
Crypt/x64/Release/gfx.obj
Crypt/x64/Release/LoginEncryption.obj
Crypt/x64/Release/MemFinder.obj
Crypt/x64/Release/OldStatusBar.obj
Crypt/x64/Release/OSIEncryption.obj
Crypt/x64/Release/PacketInfo.obj
Crypt/x64/Release/stdafx.obj
Crypt/x64/Release/uo_huffman.obj
Crypt/x64/Release/UOArt.obj
Crypt/x64/Release/Crypt.tlog/CL.command.1.tlog
Crypt/x64/Release/Crypt.tlog/CL.read.1.tlog
Crypt/x64/Release/Crypt.tlog/CL.write.1.tlog
Crypt/x64/Release/Crypt.tlog/Crypt.lastbuildstate
Crypt/x64/Release/Crypt.tlog/unsuccessfulbuild
Loader/x64/Release/Loader.dll.recipe
Loader/x64/Release/Loader.log
Loader/x64/Release/Loader.obj
Loader/x64/Release/Loader.pch
Loader/x64/Release/Loader.res
Loader/x64/Release/stdafx.obj
Loader/x64/Release/Loader.tlog/CL.command.1.tlog
Loader/x64/Release/Loader.tlog/CL.read.1.tlog
Loader/x64/Release/Loader.tlog/CL.write.1.tlog
Loader/x64/Release/Loader.tlog/link.command.1.tlog
Loader/x64/Release/Loader.tlog/link.read.1.tlog
Loader/x64/Release/Loader.tlog/link.write.1.tlog
Loader/x64/Release/Loader.tlog/Loader.lastbuildstate
Loader/x64/Release/Loader.tlog/Loader.write.1u.tlog
Loader/x64/Release/Loader.tlog/rc.command.1.tlog
Loader/x64/Release/Loader.tlog/rc.read.1.tlog
Loader/x64/Release/Loader.tlog/rc.write.1.tlog
