/packages/
/Crypt/Debug/
/Crypt/Release/
/Debug/
/FastColoredTextBox/bin/
/FastColoredTextBox/obj/
/Loader/Debug/
/Loader/Release/
/Razor/obj/
/Release/
/UltimaSDK/bin/
/UltimaSDK/obj/
/.vs/
/bin/Win32/Debug/*.dll
/bin/Win32/Debug/*.xml
/bin/Win32/Debug/*.pdb
/bin/Win32/Debug/*.ilk
/bin/Win32/Debug/*.lib
/bin/Win32/Debug/*.exp
/bin/Win32/Debug/*.exe
/bin/Win32/Debug/Accord.dll.config
/bin/Win32/Debug/CrashReporter.NET.dll.config
/bin/Win32/Debug/Razor.exe.config
/bin/Win32/Release/*.dll
/bin/Win32/Release/*.xml
/bin/Win32/Release/*.pdb
/bin/Win32/Release/*.ilk
/bin/Win32/Release/*.lib
/bin/Win32/Release/*.exp
/bin/Win32/Release/*.exe
/bin/Win32/Release/Accord.dll.config
/bin/Win32/Release/CrashReporter.NET.dll.config
/bin/Win32/Release/Razor.exe.config
*~
/bin/Win32/Debug
