* text=auto
*.zip filter=lfs diff=lfs merge=lfs -text
*.c text eol=lf
*.h text eol=lf
*.cs text eol=lf
*.sln text eol=crlf
*.csproj text eol=crlf
*.manifest text eol=crlf
*.config text eol=crlf
*.resx text eol=crlf
*.datasource text eol=crlf
*.dll binary
*.ico binary
