.vs/
**/obj/**
*.pdb
*.dll
/packages
*.user
**/obj/**
/FastColoredTextBox/FastColoredTextBox.csproj.user
/Output/Razor.dll.config
/Output/Microsoft.Scripting.xml
/Output/Microsoft.Scripting.Metadata.xml
/Output/Microsoft.Scripting.AspNet.xml
/Output/Microsoft.Dynamic.xml
/Output/IronPython.xml
/Output/IronPython.Wpf.xml
/Output/IronPython.SQLite.xml
/Output/IronPython.Modules.xml
/Output/CrashReporter.NET.xml
/Output/CrashReporter.NET.dll.config
/Output/Accord.xml
/Output/Accord.Video.xml
/Output/Accord.Video.FFMPEG.xml
/Output/Accord.Video.DirectShow.xml
/Output/Accord.Statistics.xml
/Output/Accord.Math.xml
/Output/Accord.Math.Core.xml
/Output/Accord.Imaging.xml
/Output/Accord.dll.config
/Output/Accord.Controls.Imaging.xml
